.flexContainer{
  display: flex;
  flex-wrap: wrap;
  place-items: start center; 
  justify-content: center;  
  /* justify-content: flex-start; */
  /* display: inline-flex;
  flex-wrap: wrap; */
  margin: 2em;
  gap: 1em;  
}

.goBottomRight{
  position: fixed;
  right: 3em;
  bottom: 3em;
}

body{
  margin:0
}