.flexContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  place-items: center;
  margin: 2em;
  gap: 1em;
}

.goBottomRight{
  position: fixed;
  right: 3em;
  bottom: 3em;
}

body{
  margin:0
}